body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: black;
}
h1  {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: aquamarine;
}
p {
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
 
}
button {
  padding: 10px;
  margin: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  border-radius: 15px;
}


